body {
    margin: 0;
    font-family: 'Aptos Mono', monospace;
  }
  .container {
    display: flex;
    height: 100vh;
  }
  .black-section {
    flex: 0.6;
    background-color: black;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    justify-content: center;
    padding-right: 50px;
  }
  .black-section h1 {
    font-family: 'Aptos Mono', monospace;
    font-size: 60px;
    color: #767171;
    margin: 0;
    font-weight: bold;
  }
  .black-section p {
    font-family: Calibri, sans-serif;
    font-size: 24px;
    color: #767171;
    margin: 10px 0 0;
  }
  .white-section {
    flex: 0.4;
    background-color: white;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
  .input-container {
    margin-bottom: 20px;
  }

  input[type="date"]#dob {
    font-size: 1.2em;
  }
  input[type="text"],
  input[type="password"] {
    width: 9.09cm;
    height: 1.34cm;
    border: 1.5px solid black;
    border-radius: 5px;
    padding: 5px;
  }
  .login-user {
    font-size: 11px;
    color: #8FAADC;
    margin-top: 10px;
  }
  .register-button {
    width: 3.2cm;
    height: 1.1 cm;
    background-color: black;
    color: white;
    border: none;
    border-radius: 5px;
    font-size: 14px;
    cursor: pointer;
  }